body {
    font-size: 18px;
}

nav {
    border-bottom: 1px solid #ccc;
    background: #f1f1f1;
    display: flex;
    position: relative;
}
nav .mobile-bar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    display: none;
}
@media (max-width: 480px) {
    nav .mobile-bar {
        display: flex;
    }
}
nav .mobile-bar span {
    display: block;
    height: 2px;
    width: 20px;
    margin: 2px;
    background: #888;
}
nav .mobile-bar.active {
    background: #333;
}
nav .mobile-bar.active span {
    background: white;
}
nav .mobile-bar:hover {
    background: #e1e1e1;
}
nav .mobile-bar:hover span {
    background: #444;
}
nav .mobile-bar:hover.active {
    background: #222;
}
nav .mobile-bar:hover.active span {
    background: white;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    transition: ease 1s all;
}
@media (max-width: 480px) {
    nav ul {
        opacity: 0;
        max-height: 0px;
        overflow: hidden;
        visibility: none;
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        flex-direction: column;
        background-color: #f1f1f1;
        margin-left: -100%;
    }
        nav ul.active {
            opacity: 1;
            max-height: 500px;
            right: 0;
            margin-left: 0%;
            background-color: #e1e1e1;
    }
    nav ul.active li {
        display: block;
    }
        nav ul.active li a {
            display: block;
    }
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 0.5em 1em;
}
nav ul li a:hover {
    background: #e1e1e1;
}
