#content {
    display: flex;
    justify-content: space-between;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    background-repeat: no-repeat;
}

.loadin-msg {
    background-color: whitesmoke;
    color: black;
    height: 100%;
    width: 100%;
}

